{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <br>
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% trans_default_domain 'FOSUserBundle' %}
                    <div class="alert alert-info" >{{ 'change_password.flash.success'|trans }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
