{% extends "layout.html.twig" %}
{% set item = 'index' %}
{% block title %}Accueil{% endblock %}

 {% block breadcrumb %}
  <li class="active">Alia-Fromagerie</li>
 {% endblock %}

{% block contenu %}

{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/pages/index.js') }}"></script>
{% endblock %}