<div class="col-sm-2 doc-col">
    <button type="button" class="close delete-document" aria-label="Close"><span style="color:red;" aria-hidden="true">&times;</span></button>
    <label for="appbundle_employe_imagesDocuments___name___file" class="required">__name__label__</label>
    <div class="form-group">
        <button class="btn btn-sm btn-default bind_img">Choisir une photo</button>
        <input class="image-file" style="visibility: hidden;" type="file" id="appbundle_employe_imagesDocuments___name___file" name="appbundle_employe[imagesDocuments][__name__][file]" required="required" accept="image/*" />
    </div>
    <div class="text-center">
        <img class="img-responsive" style="max-height: 85px;" />
    </div>
</div>
