<style type="text/css">

</style>
<page backtop="0px" backbottom="0px" backleft="0px" backright="0px">
    <table style="width: 100%;">
        <tr>
            <td style="width: 30%;background-color: #415a98;height: 99%;vertical-align: top;color: white;">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 100%;text-align: center;">
                            <img style="height: 125px;width: 115px;" src="{{ configuration.absoluteWebPath ~ '/images/Capture.PNG' }}" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;text-align: center;">
                            <br/>
                            <span style="font-weight: bold;font-size: 20px;">ABDELHAK OUADDI</span><br/>
                            <span style="font-size: 20px;">Développeur Web</span>
                            <br/><br/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;text-align: left;background-color:midnightblue;font-size: 16px;font-weight: bold;vertical-align: middle;padding-top: 7px;padding-bottom: 7px;padding-left: 10px;">
                            Informations Personnelles
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-weight: bold;font-size: 15px;margin-left: 20px;margin-top: 5px;">Gsm</span><br/>
                            <span style="font-size: 15px;margin-left: 20px;margin-top: 10px;">0630 57 33 43</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-weight: bold;font-size: 15px;margin-left: 20px;margin-top: 5px;">Email</span><br/>
                            <span style="font-size: 14px;margin-left: 20px;margin-top: 10px;">abdelhak.ouaddi@gmail.com</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-weight: bold;font-size: 15px;margin-left: 20px;margin-top: 5px;">Adresse</span><br/>
                            <span style="font-size: 15px;margin-left: 20px;margin-top: 10px;">Lot Hassania 1 Rue 43 N°</span><br/>
                            <span style="font-size: 15px;margin-left: 20px;margin-top: 10px;">34,El Oulfa Casablanca</span><br/><br/><br/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;text-align: left;background-color:midnightblue;font-size: 16px;font-weight: bold;vertical-align: middle;padding-top: 7px;padding-bottom: 7px;padding-left: 10px;">
                            Langues
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-size: 15px;margin-left: 20px;margin-top: 5px;"><b>Arabe :</b> Langue maternelle</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-size: 15px;margin-left: 20px;margin-top: 5px;"><b>Français :</b> :Courant</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-size: 15px;margin-left: 20px;margin-top: 5px;"><b>Anglais :</b> Technique</span><br/><br/><br/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;text-align: left;background-color:midnightblue;font-size: 16px;font-weight: bold;vertical-align: middle;padding-top: 7px;padding-bottom: 7px;padding-left: 10px;">
                            Centres d'intérêts
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-size: 15px;margin-left: 20px;margin-top: 5px;"><b>Voyage</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-size: 15px;margin-left: 20px;margin-top: 5px;"><b>Music</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-size: 15px;margin-left: 20px;margin-top: 5px;"><b>Sport</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-size: 13px;margin-left: 20px;margin-top: 5px;"><b>Lecture des actualités en ligne</b></span><br/><br/><br/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;text-align: left;background-color:midnightblue;font-size: 16px;font-weight: bold;vertical-align: middle;padding-top: 7px;padding-bottom: 7px;padding-left: 10px;">
                            Atouts
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-size: 15px;margin-left: 20px;margin-top: 5px;"><b>Capacité d’adaptation</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-size: 15px;margin-left: 20px;margin-top: 5px;"><b>Travail en équipe</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-size: 15px;margin-left: 20px;margin-top: 5px;"><b>Ouverture d’esprit</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-size: 15px;margin-left: 20px;margin-top: 5px;"><b>Dynamisme</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <span style="font-size: 15px;margin-left: 20px;margin-top: 5px;"><b>Sens de responsabilité</b></span>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 70%;vertical-align: top;padding-left: 15px;">
                   <table style="width: 100%;">
                       {#<tr>
                          <td style="width: 100%;">
                              <p>
                                  Developpeur web avec 1 ans d'experience au sein de la societe DevelMarket en tant qu'Analyste developpeur,9 mois chez Extrachoix en tant qu'administrateur d'un site web e-commerce,3 mois de stage chez Almasdar essahafi en tant que developpeur Wordpress et 2 mois de stage de fin de formation chez MarocVentes en tant que developpeur VB.NET.
                              </p>
                              <br/>
                          </td>
                       </tr>#}
                       <tr>
                           <td style="font-size:20px;color:midnightblue;border-bottom: 1px solid silver;padding-top: 5px;padding-bottom: 5px;font-weight: bold;">Expériences professionnelles</td>
                       </tr>
                       <tr>
                           <td style="width:100%;">
                               <table style="width: 100%;">
                                   <tr>
                                       <td style="width:20%;padding-top: 5px;">Freelance</td>
                                       <td style="width:80%;">
                                           <span style="font-weight: bold;font-size: 15px;">Site web + Application de gestion</span><br/>
                                           <span style="margin-top: 5px;">Créer un site web plus une application de gestion pour Espace Beladi <b>www.espacebeladi.ma</b> avec Symfony 3.</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 5px;">● Gestion des charges/achats/ventes en gros</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 3px;">● Gestion des employés(congés/avance/crédits)</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 1px;">● Gestion des matières première (stock/consomation)</span><br/>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td style="width:20%;padding-top: 5px;">Freelance</td>
                                       <td style="width:80%;">
                                           <span style="font-weight: bold;font-size: 15px;">Application de gestion</span><br/>
                                           <span style="margin-top: 5px;">Créer une application de gestion d'une compagnie de fromagerie <b>Alia Fromagerie</b> avec Symfony 3.</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 5px;">● Gestion des charges</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 3px;">● Gestion des clients/commerciaux</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 1px;">● Gestion des employés</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 1px;">● Gestion des commandes(bons de livraison,factures)</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 1px;">● Gestion du stock</span>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td style="width:20%;padding-top: 5px;">Octobre 2015 -  Août 2016</td>
                                       <td style="width:80%;">
                                           <span style="font-weight: bold;font-size: 15px;">Analyste développeur – DEVELMARKET</span><br/>
                                           <span style="margin-top: 5px;">Participer au développement d'un <b>ERP</b> pour <b>Akinet</b> avec Symfony.</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 5px;">● Conception</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 3px;">● Développement</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 3px;">● Correction des anomalies</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 1px;">● Réalisation de la documentation technique</span><br/>
                                      </td>
                                   </tr>
                                   <tr>
                                       <td style="width:20%;padding-top: 5px;">Novembre 2014 – Août 2015</td>
                                       <td style="width:80%;">
                                           <span style="font-weight: bold;font-size: 15px;">Création du site web – EXTRACHOIX</span><br/>
                                           <span style="margin-top: 5px;">Création et l'administration du site web <b>www.extrachoix.com</b> en utilisant prestashop</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 5px;">● Création du site</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 3px;">● Référencement des produits</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 3px;">● Traitements des emails</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 1px;">● Traitements des commandes</span><br/>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td style="width:20%;padding-top: 5px;">Août 2014 – Octobre 2014</td>
                                       <td style="width:80%;">
                                           <span style="font-weight: bold;font-size: 15px;">Stage développeur wordpress – ELMASDARESSAHAFI</span><br/>
                                           <span style="margin-top: 5px;">Création du site web <b>www.almasdareassahafi.com</b> en utilisant Wordpress.</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 5px;">● Création du site</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 3px;">● Referencement des articles</span><br/>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td style="width:20%;padding-top: 5px;">Mars 2013 – Mai 2014</td>
                                       <td style="width:80%;">
                                           <span style="font-weight: bold;font-size: 15px;">Opérateur de saisie – Business Cash Center</span><br/>
                                           <span style="margin-top: 5px;">La saisie des rapports de comptage et des appels de fond</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 5px;">● Réceptionner les fax des appels de fond</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 3px;">● Saisir les appels de fond</span><br/>
                                           <span style="margin-left: 10px;color:grey;margin-top: 1px;">● Saisir les rapports de comptage</span><br/>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td style="width:20%;padding-top: 5px;">Mars 2012 – Mai 2012</td>
                                       <td style="width:80%;">
                                           <span style="font-weight: bold;font-size: 15px;">Stage de fin de formation – MarocVentes</span><br/>
                                           <span style="margin-top: 5px;">Conception et création d'une application Windows pour générer les rapports téléphoniques avec VB.NET</span><br/><br/>
                                       </td>
                                   </tr>
                               </table>
                           </td>
                       </tr>
                       <tr>
                           <td style="font-size:20px;color:midnightblue;border-top: 1px solid silver;border-bottom: 1px solid silver;padding-top: 5px;padding-bottom: 5px;font-weight: bold;">Compétences</td>
                       </tr>
                       <tr>
                           <td style="width:100%;">
                               <span style="margin-left: 10px;margin-top: 5px;"><b>● Web :</b> PHP5, HTML5, CSS3, jQuery (DOM, Ajax), ASP.NET, Bootstrap.</span><br/>
                               <span style="margin-left: 10px;margin-top: 10px;"><b>● SGBD(R) :</b> SQL Server, Access, MySQL.</span><br/>
                               <span style="margin-left: 10px;margin-top: 15px;"><b>● CMS :</b> Wordpress, Prestashop.</span><br/>
                               <span style="margin-left: 10px;margin-top: 20px;"><b>● Framewrok :</b> Symfony.</span><br/>
                               <span style="margin-left: 10px;margin-top: 20px;"><b>● Gestion des versions :</b> Svn, Git.</span><br/>
                               <span style="margin-left: 10px;margin-top: 25px;"><b>● Services Web :</b> AMWS (amazon marketplace web services).</span><br/>
                               <span style="margin-left: 10px;margin-top: 30px;"><b>● Langages de programmation :</b> VB.NET, langage C.</span><br/>
                               <span style="margin-left: 10px;margin-top: 35px;"><b>● Analyse et modélisation :</b> Merise, UML.</span><br/>
                               <span style="margin-left: 10px;margin-top: 40px;"><b>● Logiciels :</b> Visual Studio,dreamweaver,devc++, Power AMC, MySQL Workbench,NetBeans,PhpStorm.</span><br/><br/>
                           </td>
                       </tr>
                       <tr>
                           <td style="font-size:20px;color:midnightblue;border-top: 1px solid silver;border-bottom: 1px solid silver;padding-top: 5px;padding-bottom: 5px;font-weight: bold;">Formations-Etudes</td>
                       </tr>
                       <tr>
                           <td style="width:100%;">
                               <table style="width: 100%;">
                                   <tr>
                                       <td style="width:20%;padding-top: 5px;">Septembre 2010 - Juillet 2012</td>
                                       <td style="width:80%;">
                                           <span style="font-weight: bold;font-size: 15px;">Technicien Spécialisé en Développement Informatique</span><br/>
                                           <span style="margin-top: 5px;">Institut spécialisé de technologie appliquée ISTA - Casablanca</span><br/>
                                         </td>
                                   </tr>
                                   <tr>
                                       <td style="width:20%;padding-top: 5px;">Juin 2010</td>
                                       <td style="width:80%;">
                                           <span style="font-weight: bold;font-size: 15px;"> Baccalauréat Sciences Expérimentales</span><br/>
                                           <span style="margin-top: 5px;">Lycée Ibn al haytam – Casablanca</span><br/>
                                       </td>
                                   </tr>
                               </table>
                           </td>
                       </tr>
                   </table>
            </td>
        </tr>
    </table>
</page>