<div class="row frais-line">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
        <div class="form-group">
            <input class="form-control libelle" type="text" id="appbundle_commande_fraisSupplementaires___name___label" name="appbundle_commande[fraisSupplementaires][__name__][label]" required="required" placeholder="Libellé" />
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <div class="form-group">
            <input class="form-control numerique prix-frais" type="text" id="appbundle_commande_fraisSupplementaires___name___prix" name="appbundle_commande[fraisSupplementaires][__name__][prix]" required="required" placeholder="Frais" />
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="input-group">
            <span class="input-group-btn">
                <button id="enable-tva" type="button" class="btn btn-danger"><i class="fa fa-circle-o" aria-hidden="true"></i></button>
            </span>
            <input readonly style="z-index:1;background-color: white;" class="form-control numerique tva" type="text" id="appbundle_commande_fraisSupplementaires___name___tva" name="appbundle_commande[fraisSupplementaires][__name__][tva]" placeholder="Tva" />
            <span class="input-group-btn">
                <button id="delete-line" type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
</div>